<div class="container">
    <form class="user-form">
        <mat-form-field class="user-full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" #UserName>
        </mat-form-field>
        
        <mat-form-field class="user-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" #Name>
        </mat-form-field>

        <mat-form-field class="user-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" #Email>
        </mat-form-field>

        <mat-form-field class="user-full-width">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" #Phone>
        </mat-form-field>
        <button (click)="addUser(UserName.value, Name.value, Email.value, Phone.value)" mat-raised-button color="primary" type="submit">Save</button>
    </form>
</div>